$yellow: #ff8307;
$red: #c9342f;
$green: #2a9442;
$azure: #28b6cc;
$bgLighter: #001a1f;
$bgDarker: #001519;
$bgBorder: #001d23;
$fontBaseColor:  #ebedef;
$fontDarker: #d6dbdf;
$fontGray: #727272;

$baseFont: 'Lato', sans-serif;